*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "alkatra";
    background-color:var(--body-color);
}

/*Principal*/
.main {grid-area: main;}
/*buscador*/

.grid-container {
    display: grid;
    grid-template-areas:
        /*6 columnas y 3 filas*/
        'main main main main main buscador';
    background-image: url(../img/fondo.jpg)
}

.grid-container .main{
    margin-left: 5vw;
    padding: 20px;
    background-color: rgb(13, 6, 44);
    /* background-color: var(--primary-color); */
}

.contenedor{
    margin-bottom: 20px;
}
#titulo1{
    padding-bottom: 3px;
    text-align: left;
    color: rgb(255, 190, 255);
}
#subtitulo{
    padding-bottom: 3px;
    text-align: left;
    color: rgb(255, 190, 255);
}
#titulo2{
    padding-top: 60px;
    text-align: center;
    color: rgb(255, 190, 255);
}