:root{
    --bg-color:#1b2021;
    --bg-secondary-color:#308c7d;
    --primary-color:#1b2021;
    --secondary-color:#514e80;
    --third-color:#8d99ae;
    --letter-color:#a5f2d9;
    --body-color:#0a1641;
    --header-bg:#15003d;
    --header-letter:#0f8bff;
    --letter-hover:#60fdbc;
}