#icono{grid-area: titulo;}
#h_home {grid-area: home;}
#h_inicio {grid-area: inicio;}
#h_recomendados {grid-area: recomendados;}
#h_contacto {grid-area: contacto;}
#h_ingresar {grid-area: ingresar;}
#h_registrarse {grid-area: registrarse;}

.grid-container {
    display: grid;
    height: 15vh;
    align-items: center;
    grid-template-areas:
        /*6 columnas y 4 filas*/
        'titulo  titulo  titulo home inicio recomendados contacto ingresar ingresar'
        'titulo  titulo  titulo home inicio recomendados contacto registrarse registrarse';
    font-family: fonstar;
    background-color:var(--header-bg);
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 1000;
}

#icono {
    font-size: 29px;
    color: transparent;
    text-align: center;
    background: linear-gradient(to right,var(--header-letter),var(--letter-hover),white);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
}
.hipervin{
    text-decoration: none;
    color: var(--header-letter);
    
}
.hipervin:hover{
    color: var(--letter-hover);
}

@media screen and (max-width: 450px) {
    .grid-container {
        background-color: rgb(41, 40, 40);
        height: 70vh;
        font-size: 1.3rem;
        border: solid 1px white;
        grid-template-areas:
            'titulo titulo'
            'home home'
            'inicio inicio'
            'recomendados recomendados'
            'contacto contacto'
            'ingresar registrarse';
    }
    .grid-container #icono{
        font-size: 2.3rem;
    }
}