header{
    font-family: fonstar;
    background-color:var(--header-bg);
    text-align: center;
    top: 0;
    position: sticky;
    z-index: 10;
    padding: 30px;
}

header div,nav{
    margin-left: 20vw;
    display: inline;
    vertical-align: middle;
}

#icono{
    display: inline-block;
}

#icono h2{
    vertical-align: middle;
    position: relative;
    left: -22vw;
    font-size: 29px;
    color: transparent;
    text-align: center;
    background: linear-gradient(to right,var(--header-letter),var(--letter-hover),white);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text;
}


.hipervin{
    text-decoration: none;
    color: var(--header-letter);
    margin: 0 10px;
}

.hipervin:hover{
    color: var(--letter-hover);
}

