*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "alkatra";
    background-color:var(--body-color);
}

/*Principal*/
.main {grid-area: main;}
/*buscador*/
.buscador {grid-area: buscador;}
/*informacion*/
.info {grid-area: info;}
/*Pie*/
.footer {grid-area: footer;}
/* 
.espaciador{grid-area: espaciador;}
.posicionador{grid-area: reel;}
.contenido{grid-area: contenido;} */
  
.grid-container {
    display: grid;
    grid-template-areas:
        /*6 columnas y 3 filas*/
        'main main main main main buscador'
        'info info info info info buscador'
        'footer footer footer footer footer footer';
    background-image: url(../img/fondo.jpg)
}

.grid-container .main{
    margin-left: 5vw;
    padding: 20px;
    background-color: var(--primary-color);
}

.contenedor{
    margin-bottom: 20px;
}
.grid-container #reel{
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    border: groove 6px rgb(158, 76, 158);

    background-image: url(../img/reel5.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 65vh;
    border-radius: 10px;
    
    animation-name: cambiar;
    animation-duration: 25s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
}
.contenido{
    padding: 10px 20px 30px 20px;
    color: white;
}
#titulo1{
    padding-bottom: 3px;
    text-align: center;
    color: rgb(255, 190, 255);
}
#subtitulo{
    padding-bottom: 3px;
    text-align: center;
    color: rgb(255, 190, 255);
}
#titulo2{
    padding-top: 30px;
    text-align: center;
    color: rgb(255, 190, 255);
}
#cartelera{
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    justify-content: center;
}
.card{
    height: auto;
    box-shadow: 4px 4px 4px 4px black;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    border: groove 6px rgb(158, 76, 158);
    box-sizing: border-box;
}
.card h3{
    padding: 3px;
    color: white;
}
.card h4{
    padding: 3px;
    font-weight: lighter;
}
.imgresponsive{
    height: auto;
    height: 460px;
    width: 100%;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.imgresponsive:hover{
    transform: scale(1.3);
}

.grid-container .buscador{
    margin-right: 5vw;
    text-align: center;
    min-width: 100%;
    /* width: 100%; */
    height: auto;
    background-color: aquamarine; /* <<<---Es para probar como queda */
    /* background-color: var(--primary-color); */
    color: rgb(255, 190, 255);
}
#buscador{
    margin-top: 23px;
}
#buscador h3{
    color: violet;
}


.grid-container .info{
    margin-left: 5vw;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: var(--third-color);
    color: white;
}








.footer{
    width: 100%;
    height: 4vh;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

.footer div{
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1vh;
}

@media screen and (max-width:750px){
    #cartelera{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width:450px){
    .contenedor{
        margin: 0px;
    }
    #cartelera{
        grid-template-columns: 1fr;
    }
}


@keyframes cambiar{
    0%{background-image: url(../img/reel1.jpg);}
    25%{background-image: url(../img/reel2.jpg);}
    50%{background-image: url(../img/reel3.jpg);}
    75%{background-image: url(../img/reel4.jpg);}
    100%{background-image: url(../img/reel5.jpg);}
}

@font-face {
    font-family: "alkatra";
    src: url(../assets/fonts/Alkatra/Alkatra-VariableFont_wght.ttf);
}

@font-face {
    font-family: "fonstar";
    src: url(../assets/fonts/fonstars/Fonstars-4Bo0p.otf);
}