<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="static/css/header.css"> -->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="stylesheet" href="../static/css/formulario.css">
    <title>Manarem - ¡Encuentra tus Animes, Mangas y Música!</title>
</head>
<body>
    <header>
        <div class="head-grid-container">
            <h2 id="icono">Manarem</h2>
            <a class="hipervin"  id="h_home" href="../index.html">Home</a>
            <a class="hipervin"  id="h_ingresar" href="ingresar.html">Ingresar</a>
            <a class="hipervin"  id="h_registrarse" href="registrarse.html">Registrarse</a>
        </div>
    </header>
    <section class="container">
        <div class="">
            <form action="" class="formContainer">
                <h3 class="boxHed">Iniciar Sesion</h3>
                <label for="">Usuario</label><input type="text" class="inputData">
                <label for="">Contraseña</label><input type="password" class="inputData">
            </form>
        </div>
    </section>
</body>
</html>