<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/colors.css">
    <link rel="icon" href="/static/img/Aqua-Bored-favicon.ico" type="image/png">
    <title>Manarem - ¡Deja tus opiniones!</title>
</head>
<body>
<body>
    <header>
        <div class="head-grid-container">
            <h2 id="icono">Manarem</h2>
            <a class="hipervin"  id="h_home" href="../index.html">Home</a>
            <a class="hipervin"  id="h_recomendados" href="recomend.html">Recomendados</a>
            <a class="hipervin"  id="h_musica" href="musica.html">Musica</a>
            <div class="drop_otros">
                <div class="hipervin" id="h_otros">Otros</div>
                <div class="drop_otros_conten">
                    <a class="hipervin" href="acerca_de.html">Acerca de</a>
                    <a class="hipervin" href="contacto.html">Contacto</a>
                    <a class="hipervin" href="preg_frec.html">Preguntas Frecuentes</a>
                    <a class="hipervin" href="feedback.html">Opiniones</a>
                </div>
            </div> 
            <a class="hipervin"  id="h_ingresar" href="ingresar.html">Ingresar</a>
            <a class="hipervin"  id="h_registrarse" href="registrarse.html">Registrarse</a>
        </div>
    </header>
    <section class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio debitis libero fugiat ipsa ex, impedit accusantium magni repudiandae placeat, quae vel! Provident quis architecto adipisci atque perferendis mollitia eum nisi.
        Porro accusantium ipsum quas! Adipisci, quisquam at expedita voluptatem ut quidem omnis libero! Corporis cumque architecto commodi quo exercitationem quia quaerat, facere, voluptatibus amet fugit quae animi nisi recusandae! Possimus.
        Laboriosam error ullam ut eius ab sequi minima nihil officiis quam, reiciendis tenetur, atque fugiat quasi dolore provident perspiciatis molestias incidunt. Cupiditate exercitationem voluptates libero illo consequuntur corporis sint quo.
        Dolorem error eum aspernatur quae fugit sint cupiditate aliquam voluptas dolores maiores? Deleniti architecto sed incidunt hic odio error, doloremque quidem reiciendis. Dicta impedit voluptatibus mollitia repellendus quia quibusdam modi?
        Assumenda tenetur blanditiis laborum ab eum suscipit et nisi dolor iusto aperiam pariatur maxime nemo voluptatem beatae doloribus vel sed soluta quas, illum nihil ducimus similique! Repudiandae est quos omnis.
        Rerum eius suscipit cumque at nobis molestias error nesciunt debitis ratione. Quos repellendus aspernatur corporis dicta? Blanditiis ducimus incidunt cumque sint non nulla, voluptate accusamus magni unde quaerat deleniti laudantium!
        Ullam, officia maxime at tempora cumque eaque nulla molestiae nemo quibusdam repellendus accusantium blanditiis qui libero commodi sapiente saepe explicabo atque, assumenda deleniti minima praesentium animi similique vero. Incidunt, quia.
        Suscipit nisi eligendi illum neque eos laudantium sit. Consectetur quia tempora repellendus culpa quaerat labore dolorum placeat nam aliquid facilis. Earum vero cupiditate sequi voluptatem harum dolorum animi tenetur ducimus.
        Quam laboriosam sed aut praesentium quasi? Nulla quia mollitia voluptate doloribus explicabo deserunt debitis eaque exercitationem saepe harum impedit, itaque sapiente magni repudiandae ipsum dignissimos eos nostrum fuga! Officia, natus.
        Esse debitis alias obcaecati sed odio accusantium ut ad eligendi, sunt magnam voluptatibus, expedita animi enim voluptatum ea facere eveniet porro odit beatae vero exercitationem distinctio quia! Ut, ex veritatis?
    </section>
    <footer class="footer">
        <div>Contacto por GitHub:</div>
        <div>creada por an4tsu, JohnCVF9 y Quiroz-Monica-R</div>
    </footer>
</body>
</html>