<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="static/css/header.css"> -->
    <link rel="stylesheet" href="/static/css/recomend.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/colors.css">
    <title>Manarem - ¡Nuestra lista de recomendados!</title>
</head>
<body>
    <div class="grid-container">
        <div class="header">
        </div>
    </div>

</body>
</html>

<!-- Copia Temporal del Body
<body>
    <header>
        <div id="icono">
            <h2>Los Anime</h2>
        </div>
        <nav>
            <a class="hipervin" href="index.html">Home</a>
            <a class="hipervin" href="index.html#inicio">Reel</a>
            <a class="hipervin" href="index.html#recomendados">Recomendados</a>
            <a class="hipervin" href="index.html#contacto">Contacto</a>
        </nav>
        <nav>
            <a class="hipervin" href="templates/ingresar.html">Ingresar</a>
            <a class="hipervin" href="templates/registrarse.html">Registrarse</a>
        </nav>
    </header>
    <main>
        <section id="inicio">
            <div class="contenedor">
                <div id="reel">
                </div>
                <div class="contenido">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus odio ex obcaecati sequi vel doloremque temporibus ut ratione dolore, nam blanditiis voluptate iusto sint earum! Excepturi hic labore nesciunt repellendus.
                    Quas aliquam nesciunt, ipsa vero perferendis ducimus temporibus earum odio maiores obcaecati sapiente harum cupiditate facilis numquam optio rerum tenetur excepturi voluptas dolor, et, quia atque! Officiis odio maiores pariatur.nem voluptate quasi? Animi, porro unde?
                    Nisi dolorem rem ipsum atque eum itaque possimus magni sint, amet perferendis optio voluptatibus unde tenetur error soluta voluptatem, at molestiae! Mollitia nemo laborum, officia beatae amet autem cupiditate quasi?
                </div>
            </div>
        </section>
        <section id="recomendados">
            <div id="cartelera">
                <div class="card">
                    <img class="imgresponsive" src="/static/img/Chainsaw.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/OneP.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/DemonS.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/JujutK.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/Pokemon.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/HunterXH.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/BokunDeku.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
                <div class="card">
                    <img class="imgresponsive" src="/static/img/JJKai.jpg" alt="">
                    <h4>Nombre</h4>
                </div>
            </div>
        </section>
        <section id="contacto">

        </section>
    </main>
    <footer>
        <div>CONTACTOpor GitHub:</div>
        <div>creada por an4tsu y JohnCVF9</div>
    </footer>
</body>
-->